# VSCode settings
**/.vscode

# Virtual environment dir
**/venv

# Compiled byte code
**/__pycache__

# Test logs and directories
**/test_log.txt
**/test_dirs

# Local deployment of the package
**/rmdirs.egg-info
**/build
**/dist